.navbar {
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;        /* Makes it stay in place */
  top: 0;                 /* Stick to the top */
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  margin-right:50px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}
.logoName{
margin-left:50px;
font-size:25px !important;
}

