<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Coding Question Practice</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<!--  <style>-->
<!--    .btn-success:hover { cursor: pointer; }-->
<!--    .form {-->
<!--      margin: 30px auto;-->
<!--      width: 60%;-->
<!--      text-align: center;-->
<!--    }-->
<!--    .results {-->
<!--      margin: 20px;-->
<!--    }-->
<!--  </style>-->
</head>

<body>
<nav class="nav-bar">
  <button>YouTube</button>

</nav>
<section class="search">
  <div class="form d-flex justify-content-center align-items-center mt-5">
    <form method="POST" class="d-flex gap-2">
      {{ form.hidden_tag() }}
      {{ form.search(class_='form-control', placeholder='Search here') }}
      {{ form.submit(class_='btn btn-outline-success') }}
    </form>
  </div>
</section>


<!--  <h2 class="rotate-effect">DSA and CP Question Bank</h2>-->



  <div class="results container">
    {% for result in results %}
      <div class="card bg-light">
        <div class="card-body text-center">
          <h5 class="card-title">{{ result['names'] }}</h5>
          <a href="{{ result['Question Link'] }}" class="card-link">{{ result['Question Link'] }}</a>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- Bootstrap JS Bundle -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
